<li>
	{{burger_name}}

	<button class="change-status" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}I want to eat that burger again!{{else}}Eat that burger!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
